@charset "utf-8";
/* CSS Document */
*{padding:0;margin:0;}
li{list-style:none;}
a{text-decoration:none;}
input,select,textarea{outline:none;}
img,input,select,textarea{vertical-align:top;}
textarea{resize:none;}

.fl{float:left;}
.fr{float:right;}
.clearFix:after{content:"";display:block;clear:both;}
.clearFix{zoom:1;}

.wrapper{width:90%;margin: 0 auto;}
body{font-family:"微软雅黑";font-size:16px;}
a{color:#838383;font-size:12px;}

